@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');


html.light{
    background-color: hsl(0, 0%, 98%);
}
html.dark{
    background-color: hsl(207, 26%, 17%);
}
body{
    font-family: 'Nunito Sans', sans-serif;
}